<div class="container-fluid eureka-dashboard">
  <div class="row">
    {{#each widgetConf in widgetsConfigList}}
        {{#if widgetConf.isOutlet}}
            {{#widget-outlet config=widgetConf}}
                {{yield}}
            {{/widget-outlet}}
        {{else}}
            {{dynamic-component
                type=widgetConf.componentName
                application=application
                config=widgetConf
                toControllerAction="toControllerAction"}}
        {{/if}}
    {{/each}}

    {{!-- if there is no "widget-outlet", let's append an outlet --}}
    {{#unless hasOutlet}}
        {{#widget-outlet config=widgetConf}}
            {{yield}}
        {{/widget-outlet}}
    {{/unless}}
    </div>
</div>