{{#if yieldOutlet}}
    <div class="row">
        {{yield}}
    </div>
{{else}}
    {{component componentName
        config=config
        routeModel=routeModel
        currentController=currentController
        toControllerAction="toControllerAction"}}
{{/if}}