<div class="panel panel-default">
    <div class="panel-heading">{{model.title}}</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
        {{#each field in model._fields}}
            <dt> {{field.meta.label}} </dt>
            <dd> {{property-display field=field}} </dd>
        {{/each}}
        </dl>
    </div>
</div>
