{{#if results.isPending}}
    loading...
{{else}}
    <ul>
        {{#each item in results}}
            <li>{{#link-to item.meta.modelIndexEmberPath item._id}} {{item.title}} {{/link-to}}</li>
        {{/each}}
    </ul>
{{/if}}