
<ul>
{{#each field in model._fields}}
    <li>{{property-form field=field}}</li>
{{/each}}
</ul>

{{#unless isEmbedded}}
    <button {{action 'cancel'}}>cancel</button>
    <button {{action 'save'}}>save</button>
{{/unless}}

