<div class="container-fluid eureka-dashboard">
  <div class="row">
    {{#each widgetConf in widgetsConfigList}}
        {{dynamic-component
            type=widgetConf.componentName
            application=application
            routeModel=routeModel
            config=widgetConf
            toControllerAction="toControllerAction"}}
    {{/each}}
    </div>
</div>