<ul>
    {{#each fieldValue in field.values}}
        <li> TODO
{{!--             {{dynamic-component
                type=field.meta.formWidgetComponentName
                field=field}} --}}
            <button {{action 'removeValue' fieldValue}}>x</button>
        </li>
    {{/each}}
</ul>
<button {{action 'addValue'}}> + </button>