<ul>
    {{#each field in field.values}}
        <li>
            {{dynamic-component
                type=propertyComponentName
                field=field}}
            <button {{action 'removeValue' field}}>x</button>
        </li>
    {{/each}}
</ul>
<button {{action 'addValue'}}> + </button>