<div class="container-fluid eureka-dashboard">
  <div class="row">

    {{#each widgetConf in widgetsConfigList}}
        {{#if widgetConf.isOutlet}}
            {{#widget-outlet config=widgetConf}}
                {{yield}}
            {{/widget-outlet}}
        {{else}}
            {{dynamic-component
                type=widgetConf.componentName
                routeModel=routeModel
                config=widgetConf
                currentController=currentController
                toControllerAction="toControllerAction"}}
        {{/if}}
    {{/each}}

    {{!-- if there is no "widget-outlet", and grid ask for an outlet, we append it --}}
    {{#if yieldOutlet}}
        {{#unless hasOutlet}}
            {{#widget-outlet config=widgetConf}}
                {{yield}}
            {{/widget-outlet}}
        {{/unless}}
    {{/if}}
    </div>
</div>