<div class="container-fluid eureka-dashboard">
  <div class="row">
    {{#each widgetConf in widgetsConfig}}
        {{dynamic-component type=widgetConf.componentName routeModel=routeModel config=widgetConf toControllerAction="toControllerAction"}}
    {{/each}}
    </div>
</div>