<h2>collection {{model.meta.modelType}}</h2>

{{#widgets-grid routeModel=model application=application routeName=currentRouteParentName toControllerAction="toControllerAction" yieldOutlet=true}}
    {{outlet}}
{{/widgets-grid}}