<h2>the model {{model._id}}</h2>

{{#widgets-grid routeModel=model application=application routeName=currentRouteParentName toControllerAction="toControllerAction" yieldOutlet=true}}
    {{outlet}}
{{/widgets-grid}}