{{#each properties as |prop|}}
    <div class="form-group">
        {{#ek-selectize value=prop.name placeholder="choose a property"}}
            {{#each prop.suggestions as |suggestion|}}
                <option value="{{suggestion.id}}"> {{suggestion.label}} </option>
            {{/each}}
        {{/ek-selectize}}
    </div>
{{/each}}

{{#if showCollapseButton}}
    <div class="form-group">
        <button class="btn btn-sm btn-default" style="border:0;padding:0" {{action 'collapseProperty'}}>
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
    </div>
{{/if}}

{{#if showExpandButton}}
    <div class="form-group">
        <button class="btn btn-sm btn-default" style="border:0;padding:0"  {{action 'expandProperty'}}>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
{{/if}}
