<nav class="eureka-navbar navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="visible-xs">
            <a class="navbar-brand" onclick="$('.row-offcanvas').toggleClass('active')" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-align-justify"></i></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{applicationName}}</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="eureka-application row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 col-lg-2 sidebar-offcanvas eureka-navigation" role="navigation">
            {{application-menu model=model currentPath=currentPath}}
        </div>
        <div class="col-xs-12 col-sm-9 col-lg-10 eureka-main-content">
            {{outlet}}
        </div>
    </div>

</div>