
<ul class="eureka-application-menu nav nav-pills nav-stacked">
  {{#each modelMeta in modelMetas}}
    {{#unless modelMeta.hidden}}
        {{#link-to modelMeta.indexRouteName
            tagName="li"
            href=false
            active=modelMeta.isActive
            classBinding=":eureka-menu-item modelMeta.EurekaGenericModelModelCSS"}}
                <a href="#">{{modelMeta.title}}</a>
        {{/link-to}}
    {{/unless}}
  {{/each}}
</ul>