{{#each item in model}}
    <div class="eureka-result-item row">
        {{#if item.thumbUrl}}
            <div class="eureka-thumb col-xs-4">
                {{#cropped-thumb model=item class="eureka-item-thumb"}}{{/cropped-thumb}}
            </div>
        {{/if}}

        <div {{bind-attr class="item.thumbUrl:col-xs-8"}}>
            <h3 class="eureka-item-title">
                {{#link-to item.__meta__.displayRouteName item._id
                    classNames="eureka-link-to-display"
                    classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                        {{renderTitle item}}
                {{/link-to}}
            </h3>


            <p class="eureka-item-description">{{renderDescription item}}</p>
        </div>
    </div>
{{/each}}