<div class="form-group has-feedback eureka-search-query-container">
    <span class="glyphicon glyphicon-search form-control-feedback search-icon"></span>
    {{#search-query-input action="searchModel" model=model}}{{/search-query-input}}
    <p class="hint"><small>Hit enter key to search</small></p>
</div>