
{{#each field in fields}}
    <div class="form-group eureka-field">
        <label {{bind-attr for="field.name"}} class="col-sm-2 control-label eureka-field-name">{{field.name}}</label>
        <div class="col-sm-10">
            {{model-field-form field=field}}
        </div>
    </div>
{{/each}}
