
{{#each field in fields}}
    <div {{bind-attr class=":form-group :eureka-field field.cssClass"}}>
        <label {{bind-attr for="field.name"}} class="col-sm-4 control-label eureka-field-name">{{field.title}}</label>
        <div class="col-sm-8">
            {{model-field-form field=field}}
        </div>
    </div>
{{/each}}
