<h5>{{fieldName}}</h5>
{{!-- {{#if isLoading}} --}}
    {{!-- <img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" /> --}}
{{!-- {{else}} --}}
<ul>
    {{#each item in content}}
        <li>{{item.facet}} ({{item.count}})</li>
    {{/each}}
</ul>
{{!-- {{/if}} --}}