<h5>{{fieldName}}</h5>
{{#if isLoading}}
    <i>loading...</i>
{{else}}
    <ul>
        {{#each item in content}}
            <li>{{item.facet}} ({{item.count}})</li>
        {{/each}}
    </ul>
{{/if}}