
<dl class="eureka-document-fields dl-horizontal">
    {{#each field in fields}}
        <div class="eureka-field">
            <dt class="eureka-field-name">{{field.name}}</dt>
            <dd class="eureka-field-value">{{model-field-display field=field}}</dd>
        </div>
    {{/each}}
</dl>
