
<ul class="application-menu">
  {{#each modelName in modelNames}}
    <li {{bind-attr class=":menu-item modelName.dasherized"}}>
        {{#model-to 'list' modelName.underscored}}
           {{modelName.classified}}
        {{/model-to}}
        {{#model-to 'new' modelName.underscored}}+{{/model-to}}
    </li>
  {{/each}}
</ul>