
<ul class="eureka-application-menu nav nav-pills nav-stacked">
  {{#each modelMeta in modelMetas}}
    {{#link-to modelMeta.indexRouteName tagName="li" href=false classBinding=":eureka-menu-item modelMeta.EurekaGenericModelModelCSS"}}
        <a href="#">{{modelMeta.type}}</a>
    {{/link-to}}
  {{/each}}
</ul>