

<h1>{{{model.__title__}}}</h1>

<form class="form-horizontal" role="form">
    {{model-form model=model}}

     <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            {{#link-to model.__meta__.displayRouteName model._id
                classNames="btn btn-default eureka-cancel-action eureka-link-to-display"
                classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}cancel{{/link-to}}
            <button {{bind-attr class=":btn :btn-primary :eureka-save-action model.__meta__.EurekaGenericModelModelCSS"}}
                    {{action 'save'}}>save</button>
        </div>
    </div>
</form>

