
<h1 class="new-document-title">New {{model.type}}</h1>

{{model-form model=model}}

{{#model-to 'list' model classNames="button cancel"}}cancel{{/model-to}}
<button class="button success save" {{action 'save'}}>save</button>
