

<h1>{{{model.__title__}}}</h1>

{{model-form model=model}}

{{#model-to 'display' model classNames="button cancel"}}cancel{{/model-to}}
<button class="button success save" {{action 'save'}}>save</button>
