

<h1>{{{model.__title__}}}</h1>

{{model-form model=model}}

{{#link-to 'generic_model.display' model.type model._id classNames="button cancel"}}cancel{{/link-to}}
<button class="button success save" {{action 'save'}}>save</button>
