

<h1>{{model.title}}</h1>

{{model-form model=model}}

{{#link-to 'type.display' model.type model._id classNames="button cancel"}}cancel{{/link-to}}
<button class="button success save" {{action 'save'}}>save</button>
