
{{#each item in model}}
    <fieldset class="result-item">
        <legend>{{model.type}}</legend>
        <h2 class="item-title">
            {{#link-to 'type.display' item._type item._id}}
                {{{item.__title__}}}
            {{/link-to}}
        </h2>


        {{#if item.__description__}}
            <p class="item-description">{{{item.__description__}}}</p>
        {{/if}}

        {{#if item.__thumb__}}
            <img class="item-thumb" {{bind-attr src=item.__thumb__}} />
        {{/if}}
    </fieldset>
{{/each}}