
<h1>New {{model.type}}</h1>

{{model-form model=model}}

{{#link-to 'type.list' model.type classNames="button cancel"}}cancel{{/link-to}}
<button class="button success save" {{action 'save'}}>save</button>
